<html>

	<body>
			<input type="text" id="url" name="url" value="https://www.youtube.com/watch?v=gR3aAi-fNJA">Download link</input>
			<input type="button" onclick="download()">download</input>
	</body>

	<script>
		// TODO: Figure out how to send data with XMLHttpRequest post
		// That way I can send the url to be downloaded and not have the
		// web page freeze up the the user.
		function download() {
			let xhr = new XMLHttpRequest();
			xhr.open('POST', 'downloadAudio');
			console.log(document.getElementById("url").value);
			xhr.send(document.getElementById("url").value);
		}

		import Cookies from "js-cookie";
		var CSRF_TOKEN = Cookies.get("csrftoken");
		export default CSRF_TOKEN;

	</script>
	
</html>
