<!DOCTYPE html>

<style type="text/css">

    .upper_buttons {
        text-align: center;
    }

    .lower_button {
        text-align: center;
    }

    .buttonRight {
        text-align: right;
    }

    .buttonLeft {
        text-align: left;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: auto;
    }

    .song_name {
        text-align: center;
        margin-top:300px;
    }

</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Wreker Music Interface</title>
</head>
<body>
    <h1 class="song_name">Song Name</h1>
    <table border="1px">
        <tr>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="record" onclick="record()">
                        Record
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="stop" onclick="pause()">
                        Stop
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="rewind" onclick="rewind()">
                        Rewind
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="play" onclick="play()">
                        <b>Play</b>
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="forward" onclick="forward()">
                        Forward
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="repeat" onclick="repeat()">
                        Repeat
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="expand" onclick="restart()">
                        Restart
                    </button>
                </td>
        </tr>
        <tr>
            <td colspan="7" id="percent">===================================================================</td>
        </tr>
        <tr>
            <td colspan="2" class="buttonLeft" id='curTime'>Time</td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="volumeDown" onclick="volumeDown()">
                        Volume Down
                    </button>
                </td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="mute">
                        Mute
                    </button>
                </td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="volumeUp" onclick="volumeUp()">
                        Volume Up
                    </button>
                </td>
	    <td colspan="2" id="totalTime" class="buttonRight">{{ length }}</td>
        </tr>
	<input type ="hidden" id="mills">{{ mills }}</input>
    </table>

	<script>
		var keepLooping = true;
		var k = 0;
		var timeElapsed = 0;
		var startCounting = false;

		var playTime = 0;
		var playing = true;

		function tellMeCurTime(){
			let xhr = new XMLHttpRequest();
			let c = 0;
			xhr.open("GET",'getTime');
			xhr.onload= function(){
				playTime = parseInt(xhr.responseText)//document.getElementById('curTime').innerHTML = msToTime(xhr.responseText);
				console.log( playTime);
				startCounting = true;
			//	testing( this.c);
			}
			xhr.send();
			return playTime;
		}

		function testing( tim ){
			this.k = tim;
		}

		function rewind() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'rewind');
			xhr.send();
		}

		function forward() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'forward');
			xhr.send();
		}

		function repeat(){
		    console.log("TODO: Implement repeat button");
		}

		function restart() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'restart');
			xhr.send();
		}

		function volumeUp() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'volumeUp');
			xhr.send();
		}

		function volumeDown() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'volumeDown');
			xhr.send();
		}

		function play() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'play');
			xhr.send();
			playing = true;
		}

		function pause() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'pause');
			xhr.send();
			playing = false;
		}

		function getTime() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'curPos');
			xhr.responseType = 'text';

			xhr.onload = function() {
//				alert(xhr.responseText);

				if( (xhr.responseText === "") == false)
				{
					if( keepLooping)
					{
						k = parseInt(xhr.responseText)//document.getElementById('curTime').innerHTML = msToTime(xhr.responseText);
						keepLooping = false;
					}
				}

			};
			if (keepLooping)
			xhr.send();
//			return k;
//			setInterval( getTime, 1000 );
		}
		function msToTime( tim ) {
			let k = playTime;
			let hours = Math.floor((playTime/1000)/3600);
			let minutes = Math.floor(((playTime/1000)/60)- (hours*60));
			let seconds = Math.floor(((playTime/1000)-(hours*60)+(minutes*60))%60);
			console.log(k);
			output = "";
			if( hours < 10)
				output += "0" + hours.toString();
			else
				output += hours.toString();

			if( minutes < 10)
				output += ":0" + minutes.toString();
			else
				output += ":" + minutes.toString();

			if( seconds < 10)
				output += ":0" + seconds.toString();
			else
				output += ":" + seconds.toString();

//			console.log("Pretty: " + output);
//			console.log("Ugly: " + String(hours) + ":" + String(minutes) + ":" + String(seconds));
			return output;
		}

		function setTime(tim) {
				let t = msToTime( tim );
				document.getElementById('curTime').innerHTML = t;
		}
	
		function getTotal(){
			var length = 67;
			var total = (playTime/{{ mills }});
			output = "";
			for( i = 0; i < length * total; i++)
				output += "=";
			for( i = 0; i < length - output.length; i++)
				output += " ";
			document.getElementById('percent').innerHTML = output;
		}

		function doStuff() {
			setTime(tellMeCurTime());
			getTotal();

		}

		setInterval( doStuff, 500 );
	</script>
</body>
</html>
